---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
import articulos from "../assets/articulos.json";
import { Image } from "astro:assets";
---

<BaseLayout>
  <main class="bg-gray-100 py-16 h-full w-full">
    <div
      class="container mx-auto px-4 mb-16 grid grid-cols-1 md:grid-cols-2 gap-8"
    >
      {
        articulos.map((articulo) => (
          <a href={`/blog/${articulo.titulo}`}>
            <div
              class="bg-white shadow-md rounded-lg p-8 mb-8 grid grid-rows-2 h-96
           w-full hover:shadow-lg hover:bg-slate-200 transition"
            >
              <Image
                src={articulo.imagen}
                alt={articulo.titulo}
                width={50}
                height={50}
                class="h-full w-full object-cover"
              />
              <div class="text-lg text-gray-700 overflow-hidden">
                <h2 class="text-2xl font-bold">{articulo.titulo}</h2>
                <span class="text-gray-700">
                  {articulo.descripcion.split("\n").map((p) => (
                    <p>{p}</p>
                  ))}
                </span>
              </div>
            </div>
          </a>
        ))
      }
    </div>
  </main>
</BaseLayout>
