---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
import reconocimientos from "../assets/reconocimientos.json";
import cargos from "../assets/cargos.json";
import Card from "../components/atoms/Card.astro";
const title = "Quiénes Somos";
import image from "../assets/presidenta.webp";
---

<BaseLayout title={title}>
  <!-- Texto de la Presidenta -->
  <section class="container mx-auto px-4 mb-16 relative -top-10">
    <div class="flex flex-col text-lg items-center text-gray-700 text-justify">
      <img
        src={image.src}
        alt="Foto de la Presidenta"
        width="200"
        height="200"
        class="w-24 h-24 rounded-full object-cover shadow-md"
      />
      <h2 class="text-lg font-bold">Angela de los Santos González</h2>
      <h3 class="mb-4 text-sm italic">Presidenta Provida Sevilla ASDEVI</h3>
      <p>
        Es un honor dirigirme a ustedes en esta ocasión tan especial para
        compartir una noticia importante. A partir de este momento, tengo el
        privilegio de asumir la presidencia de nuestra querida asociación
        benéfica. Agradezco profundamente la confianza depositada en mí para
        liderar esta misión que compartimos: contribuir al bienestar de nuestra
        comunidad y transformar vidas.
      </p>
      <p class="mt-4">
        Quiero aprovechar esta oportunidad para expresar mi respeto y gratitud
        hacia Rosa Ciriquián, quien, con su dedicación y compromiso, ha dejado
        una huella significativa en nuestra organización. Mi intención es dar
        continuidad a este gran legado, reforzando nuestro impacto y explorando
        nuevas oportunidades para crecer juntos.
      </p>
      <p class="mt-4">
        En los próximos meses, trabajaremos con determinación en nuestras
        iniciativas actuales y buscaremos fortalecer la relación con nuestros
        socios, voluntarios y colaboradores. Estoy convencida de que la clave
        para lograr nuestros objetivos radica en la unión y el esfuerzo
        conjunto.
      </p>
      <p class="mt-4">
        Por ello, los invito a mantenerse activos y a seguir participando en las
        actividades y proyectos que llevaremos a cabo. Su apoyo y compromiso son
        fundamentales para que nuestra asociación siga siendo un referente de
        solidaridad y esperanza.
      </p>
      <p class="mt-4">
        Estaré encantada de escuchar sus ideas, sugerencias y comentarios, ya
        que creo firmemente en la importancia de construir juntos un camino que
        beneficie a quienes más lo necesitan.
      </p>
      <p class="mt-4">
        Gracias por su confianza y por formar parte de esta gran familia. Estoy
        emocionada por todo lo que lograremos juntos y espero con ilusión los
        retos y aprendizajes que nos esperan.
      </p>
    </div>
  </section>
  <!-- <div class="text-lg text-gray-700">
        <p>
          Queridos amigos y colaboradores, <br />
          Soy [Nombre de la Presidenta], presidenta de la Asociación Provida. Desde
          nuestra fundación en [año], hemos trabajado incansablemente para defender
          y proteger la vida desde el primer momento. Nuestra misión es apoyar a
          madres, familias y bebés en situaciones vulnerables, brindando recursos,
          educación y acompañamiento.
        </p>
        <p class="mt-4">
          Estamos comprometidos con la defensa de los valores humanos y la
          promoción de una cultura de vida. Gracias por unirte a esta noble
          causa.
        </p>
      </div> -->

  <!-- Lista de Aprobaciones y Reconocimientos -->
  <section class="container mx-auto px-4 mb-16">
    <h2 class="text-3xl font-bold text-center text-gray-800 mb-8">
      Reconocimientos y Certificaciones
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {
        reconocimientos.map(({ titulo, descripcion }) => (
          <Card titulo={titulo} descripcion={descripcion} />
        ))
      }
    </div>
  </section>

  <!-- Junta Directiva -->
  <section class="container mx-auto px-4 mb-16">
    <h2 class="text-3xl font-bold text-center text-gray-800 mb-8">
      Junta Directiva
    </h2>
    <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        cargos.map(({ cargo, nombre }) => (
          <Card titulo={cargo} descripcion={nombre} />
        ))
      }
    </div>
  </section>

  <!-- Estatutos de la Asociación -->
  <section class="container mx-auto px-4 text-justify">
    <h2 class="text-3xl font-bold text-center text-gray-800 mb-8">
      Estatutos de la Asociación
    </h2>
    <div class="p-8 text-lg text-gray-700">
      <p>
        LOS ESTATUTOS DE LA ASOCIACIÓN SEVILLANA EN DEFENSA DE LA VIDA (ASDEVI)
        fueron aprobados el 19 de abril de 1982. Entidad que regula sus
        actividades al amparo de la Ley Orgánica 1/2000 de 22 de marzo, y Normas
        complementarias, conplena capacidad jurídica para obrar, careciendo el
        ánimo de lucro.
      </p>
      <p class="mb-4">
        Sólo se publican los Art. que van del 1º al 5º por estar contemplado en
        ellos, lo concerniente a sus fines primordiales.
      </p>
      <a
        href="/estatutos.pdf"
        target="_blank"
        class="bg-blue-500 text-white px-6 py-3 rounded-md font-semibold hover:bg-blue-600 transition inline-block mt-4"
      >
        Ver Estatutos
      </a>
    </div>
  </section>
</BaseLayout>
